* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  flex-grow: 1;
  font-family: Arial, sans-serif;
  background-color: #036953;
  color: #0aa144e0;
  height: 100%;
  width: 100%;

  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}

.header-content {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

nav p {
  /* text-decoration: none; */
  cursor: pointer;
  color: #1472c4;
  font-weight: bold;
  padding: 5px 10px;
}

nav p:hover {
  color: rgb(238, 15, 15);
}

nav details {
  display: none;
}

nav button {
  color: #0000ff;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  align-content: center;
  font-weight: 800;
  cursor: pointer;
}

nav button:hover {
  color: #fff;
  background: rgb(238, 15, 15);
}

.coming-soon {
  z-index: 2;
  display: none;
  justify-content: center; /* Horizontally center content */
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  
  color: rgb(238, 15, 15);
  font-weight: 600;
}

.coming-soon p {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

h1#learn {
  flex: 1;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
  display: flex;
  align-content: flex-start;
}

h4#sub {
  color: #ffffff;
  font-size: 25px;
  text-shadow: 0 0 3px #080808, 0 0 5px #0000ff;
  text-align: center;
  margin: 1.5rem;
  /* position: relative; */
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #000000;
  z-index: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #181515;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1472c4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1.5rem;
}

button[type="submit"]:hover {
  background-color: rgb(238, 15, 15);
}

#customized-schedule,
#specify-course {
  display: none;
}

.footer {
  background-color: #000000;
  padding: 6px;
  position: sticky;
  bottom: 0;
  margin-top: 6px;
  text-align: center;
  color: #5daaee;
}

@media screen and (max-width: 1050px) {
  form {
    display: flex;
    flex-direction: column;
    /* grid-gap: 20px; */
    /* max-width: 600px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #000000;
    z-index: 1;
  }

  nav p, nav button {
    display: none;
  }

  nav details, .menu-nav {
    display: flex;
    flex-direction: column;
    padding: 0.5 1rem;
  }
  
  .menu-nav-container {
    display: flex;
    /* flex-direction: column; */
    z-index: 2;
    position: absolute;
    right: 0px;
    padding: 0 0rem;
    background: rgb(0, 19, 31);
    border-radius: 5px;
    align-items: center;
    align-content: center;
  }

  h4#sub {
  font-size: 20px;
  }
}