.get-notified-container {
  /* flex-grow: 1; */
  background: rgb(0, 19, 31);
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 50px;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: none;
}

.get-notified-container #cancel-btn {
  color: #fff;
  position: absolute;
  /* padding: 1 1rem; */
  top: 2px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  padding: 0 0.2rem;
  cursor: pointer;
}

.get-notified-container #cancel-btn:hover {
  color: rgb(255, 61, 61);
  background: #fff;
  border-radius: 5px;
  padding: 0 0.2rem;
}

.get-notified-container #notice {
  font-weight: 500;
  color: rgb(255, 153, 0);
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.get-notified-container em {
  color: #cfc6c6;
}

#user-choice {
  display: flex;
  /* justify-content: center; */
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.get-notified-container #user-choice {
  color: #fff;
}

.choice {
  color: #0aa144e0;
  padding: 1rem 0.2rem;
  cursor: pointer;
}

.choice:hover {
  color: rgb(238, 15, 15);
}

#prompt-user {
  padding: 0.5rem 1.5rem;
  color: #fff;
}

#number-input,
#whatsapp-no {
  padding: 0.5 0rem;
  font-size: 15px;
}

#number-input {
  display: none;
}
