body {
  font-family: Arial, sans-serif;
  background-color: #b5d2cc;
  color: #01ab42;
}

h1#learn {
  color: #000000;
  font-size: 17px;
  text-align: left;
}

h4#sub {
  color: #ffffff;
  font-size: 25px;
  text-shadow: 0 0 3px #080808, 0 0 5px #0000FF;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1472c4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: rgb(238, 15, 15);
}
